export NAME
export ENV='local'
export SERVER_PORT=:8080
export LOG_LEVEL

## DATABASE
export DATABASE_NAME=DATABASE_NAME
export DATABASE_USER=DATABASE_USER
export DATABASE_PASSWORD=DATABASE_PASSWORD
export DATABASE_PORT=DATABASE_PORT
export DATABASE_HOST=DATABASE_HOST
export IS_MIGRATION=IS_MIGRATION

source ./.env
